<div class="container">
    <div class="row animated fadeIn delay-1.1s">
        <div class="col-md-12 invoice-header-margin">
            <div class="invoice-div">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    <div class="row">
                        <div class="col-xs-12 col-md-1">
                            <u>
                                <h2 class="invoice-brand"> Fakture </h2>
                            </u>
                        </div>
                        <div class="col-xs-12 col-md-1 col-md-offset-1">
                            <button style="margin-top: 21px;" class="button-round" type="button" mat-raised-button color="primary">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i> Nova faktura</button>
                        </div>
                        <div class="col-xs-12 col-md-1 col-md-offset-5">
                            <button style="margin-top: 21px;" class="button-round" type="button" mat-raised-button color="warn">
                                <i class="fa fa-list" aria-hidden="true"></i> Komintenti</button>
                        </div>

                        <div class="col-xs-12 col-md-1 col-md-offset-1">
                            <button style="margin-top: 21px;" class="button-round" type="button" mat-raised-button>
                                <i class="fa fa-print" aria-hidden="true"></i> Stampaj knjigu</button>
                        </div>
                    </div>
                    <hr class="login_type" />
                </div>
            </div>
        </div>
    </div>
</div>