/* .navbar {
    background-color: rgb(40, 62, 74);
}

.navbar-content {
    margin-left: 15%;
}

.navbar-brand {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-bottom: 1px solid whitesmoke;
    color: whitesmoke;
    font-size: 30px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.navbar-brand:hover {
    border-bottom: 4px solid whitesmoke;
    color: whitesmoke;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.main-nav {
    margin-right: 35%;
    padding: 0;
    list-style: none;
}
.main-nav li {
    display: inline;
    margin: 0 1px;
    color: rgb(173, 173, 173) !important;
    font-family: 'Serif', sans-serif;
    text-decoration: none;
    line-height: 10px;
    font-size: 14px;
    cursor: pointer;
}

.main-nav li a {
    display: inline-block;
    color: rgb(173, 173, 173) !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

.main-nav li a:hover {
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    color: white !important;
    background-color: inherit;
}

.fa.fa-user-o {
    border-left: 1px solid whitesmoke;
    padding-left: 10px;
    margin-left: -10px;
}

.fa.fa-arrow-left {
    border-left: 1px solid whitesmoke;
    padding-left: 10px;
    margin-left: -10px;
}

.nav-element-clicked {
    border-bottom: 1px solid whitesmoke;
}

.nav-element-i {
    color: white !important;
} */

.navbar {
    background-color: rgb(40, 62, 74);
}

.navbar-content {
    margin-left: 10%;
}

.navbar-brand {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-right: 1px ridge whitesmoke;
    color: whitesmoke !important;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    padding-right: 10px;
    margin-left: 10%;
}

.navbar-brand:hover {
    color: whitesmoke !important;
    border-right: 3px solid whitesmoke;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.navbar-nav li {
    display: inline;
    margin: 0 1px;
    color: rgb(173, 173, 173) !important;
    font-family: 'Serif', sans-serif;
    text-decoration: none;
    line-height: 10px;
    font-size: 14px;
    cursor: pointer;
}

.navbar-nav li a {
    display: inline-block;
    color: rgb(173, 173, 173) !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    text-decoration: none;
    cursor: pointer;
}

.navbar-nav li a:hover {
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    color: white !important;
    background-color: inherit;
}

.fa.fa-user-o {
    border-left: 1px solid whitesmoke;
    padding-left: 10px;
    margin-left: -10px;
}

.fa.fa-arrow-left {
    border-left: 1px solid whitesmoke;
    padding-left: 10px;
    margin-left: -10px;
}