<nav class="navbar navbar-expand-sm sticky-top animated fadeInDown">
    <div class="navbar-content">
        <a class="navbar-brand" (click)="toHomePage()">Transion</a>
        <ul class="nav navbar-nav navbar-right main-nav animated fadeInRight" *ngIf="userOptionsOff">
            <li>
                <a>
                    <i class="fa fa-file-text-o" aria-hidden="true"> Fakture </i>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-barcode" aria-hidden="true"> Fiskalni račun </i>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-medkit" aria-hidden="true"> Zdravstvene knjižice </i>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-suitcase" aria-hidden="true"> Moja agencija </i>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-user-o" aria-hidden="true" (click)="switchUserOptions()"> Marko</i>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right main-nav animated fadeInRight" *ngIf="userOptionsOn">
            <li>
                <a>
                    <i class="fa fa-info" aria-hidden="true"> Profilne informacije </i>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-sign-out" aria-hidden="true" (click)="logout()"> Odjavi se </i>
                </a>
            </li>
            <li>
                <a>
                    <i class="fa fa-arrow-left" aria-hidden="true" (click)="switchUserOptions()"> Nazad </i>
                </a>
            </li>
        </ul>
    </div>
</nav>