<main role="main" class="container">
    <div class="padding-container animated fadeIn delay-1.1s">
        <div class="home-div">
            <div class="row justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center">
                <figure>
                    <img src="../../assets/images/Transion2_logo.png" class="img-circle img-responsive" height="200px" width="200px" />
                </figure>
                <hr class="login_type" />
            </div>

            <div class="row justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center">
                <h1> Dobrodošli
                    <i> Marko </i>
                </h1>
            </div>
        </div>
    </div>
</main>