<div class="container">
    <div class="row animated fadeInDown">
        <div class="col-5 col-offset-1 col-sm-5 col-sm-offset-1 col-md-5 col-md-offset-1 col-lg-5 col-lg-offset-1 col-xl-12">
            <div class="home-content">
                <div class="row">
                    <div class="col-5 col-offset-4 col-sm-5 col-sm-offset-4 col-md-5 col-md-offset-4 col-lg-5 col-lg-offset-4 col-xl-12">
                        <figure class="pic">
                            <img src="../../assets/images/Transion2_logo.png" class="img-circle img-responsive" height="200px" width="200px" />
                        </figure>
                    </div>
                </div>
                <hr class="login_type" />
            </div>
        </div>
    </div>
</div>