.home-content {
    position: relative;
    background-image: url('../../assets/images/main-background.jpg');
    min-width: 900px;
    min-height: 800px;
    margin-top: 10px;
    margin-left: 40px;
    background:white;
    border: 2px ridge rgb(180, 180, 180);
    border-radius: 5px;
    padding: 15px; 
}

.pic {
    margin: 0px;
}

.home-welcome-text {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: blue;
    text-align: center;
}