.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: rgba(0,0,0,0.5);
    border-top: 1px solid #dddddd;
    text-align: center;
}

.copyright {
    color:#cccccc;
    font-size: 14px;
    display: block;
    text-align: center;
}

.copyright a {
    color: rgb(40, 62, 74);
    font-weight: 600;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.copyright a:hover {
    color: rgb(38, 93, 12);
}