<div class="container">
    <div class="row">
        <div class="center animated fadeIn delay-1.1s">

            <div align="center">
                <figure class="logo">
                    <img src="../../assets/images/Transion3_logo.png" class="img-circle img-responsive">
                </figure>
            </div>

            <hr class="login_type" />

            <mat-form-field class="almost-full-width">
                <input matInput placeholder="E-mail">
            </mat-form-field>
            <mat-form-field class="almost-full-width">
                <input matInput placeholder="Lozinka">
            </mat-form-field>
            <div align="center">
                <button mat-raised-button color="primary">Prijavljivanje</button>
                <p style="margin-top: 10px;"> Nemate nalog?
                    <a (click)="toRegisterPage()"> Napravite ga sada.</a>
                </p>
            </div>

        </div>
    </div>
</div>