
<main role="main" class="container">
    <div class="padding-container animated fadeIn delay-1.1s">
        <div class="login-div">
            <div align="center">
                <figure class="logo">
                    <img src="../../assets/images/Transion2_logo.png" class="img-circle img-responsive" height="150px" width="150px" />
                </figure>
                <h2> Prijavi se </h2>
                <hr class="login_type" />
            </div>

            <form [formGroup]="loginForm" (submit)="login(loginForm)">
                <div class="row justify-content-center justify-content-sm-center justify-content-md-center justify-content-lg-center justify-content-xl-center">
                    <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xs-9">
                        <mat-form-field class="almost-full-width">
                            <input type="email" id="username" matInput placeholder="E-mail adresa" formControlName="username">
                            <mat-error *ngIf="username.invalid && (username.dirty || username.touched)">
                                <ng-container *ngIf="username.errors.required"> E-mail je neophodan. </ng-container>
                                <ng-container *ngIf="!username.errors.required && username.errors.email"> E-mail je pogrešnog formata. </ng-container>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field class="almost-full-width">
                            <input type="password" id="password" matInput placeholder="Lozinka" formControlName="password">
                            <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                                <ng-container *ngIf="password.errors.required"> Lozinka je neophodna. </ng-container>
                                <ng-container *ngIf="password.errors.pattern"> Lozinka mora sadrzati minimum 7 karaktera. </ng-container>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <div align="center">
                    <button type="submit" class="btn btn-outline-success">Prijavljivanje</button>

                    <hr class="login_type" />

                    <p style="margin-top: 20px;"> Nemate nalog?
                        <a (click)="toRegisterPage()"> Napravite ga sada.</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</main>