<div class="container">
    <div class="row">
        <div class="center animated fadeIn delay-1.1s" *ngIf="step1">

            <div align="center">
                <figure class="logo">
                    <img src="../../assets/images/Transion2_logo.png" class="img-circle img-responsive" height="150px" width="150px" />
                </figure>
                <h2> Registracija </h2>
            </div>

            <hr class="login_type" />
            <form (submit)="logForm(registrationForm)" [formGroup]="registrationForm">
                <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12">
                    <mat-form-field class="almost-full-width">
                        <input type="email" matInput placeholder="E-mail" formControlName="email">
                    </mat-form-field>
                    <mat-form-field class="almost-full-width">
                        <input type="password" matInput placeholder="Lozinka" formControlName="password">
                    </mat-form-field>
                    <mat-form-field class="almost-full-width">
                        <input type="password" matInput placeholder="Potvrdite lozinku" formControlName="confirmPassword">
                    </mat-form-field>
                </div>
                <div align="center">
                    <button mat-raised-button color="primary" (click)="toStepTwo()">Sledeći korak</button>
                </div>
                <div style="margin-top: 30px;" align="center">
                    <button mat-button (click)="goBack()">Nazad</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="long-center animated fadeIn delay-0.7s" *ngIf="step2 || step3 || step4">
            <div align="center">
                <figure class="logo">
                    <img src="../../assets/images/Transion2_logo.png" class="img-circle img-responsive" height="150px" width="150px" />
                </figure>
                <h2> Registracija </h2>
            </div>

            <hr class="login_type" />
            <form *ngIf="step2" (submit)="logForm(registrationForm)" [formGroup]="registrationForm">
                <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12">
                    <mat-form-field class="almost-full-width">
                        <input type="text" matInput placeholder="Naziv agencije" formControlName="nameOfAgency">
                    </mat-form-field>
                    <mat-form-field class="almost-full-width">
                        <input type="text" matInput placeholder="Pun naziv" formControlName="fullNameOfAgency">
                    </mat-form-field>
                    <mat-form-field class="almost-full-width">
                        <input type="number" matInput placeholder="PIB" formControlName="IDNumberOfAgency">
                    </mat-form-field>
                    <mat-form-field class="almost-full-width">
                        <input type="number" matInput placeholder="Matični broj agencije" formControlName="accountNumber">
                    </mat-form-field>
                    <mat-form-field class="almost-full-width">
                        <input type="number" matInput placeholder="Broj žiro računa" formControlName="accountNumber">
                    </mat-form-field>
                    <mat-form-field class="almost-full-width">
                        <input type="text" matInput placeholder="Šifra delatnosti sa opisom" formControlName="codeoOfActivityWithDescription">
                    </mat-form-field>
                    <mat-form-field class="almost-full-width">
                        <input matInput [matDatepicker]="picker" placeholder="Datum registracije agencije" formControlName="registerDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="almost-full-width">
                        <input type="text" matInput placeholder="Grad i poštanski broj" formControlName="companyCityAndZipCode">
                    </mat-form-field>
                    <mat-form-field class="almost-full-width">
                        <input type="text" matInput placeholder="Ulica sedišta" formControlName="companyStreetName">
                    </mat-form-field>
                    <mat-form-field class="almost-full-width">
                        <input type="number" matInput placeholder="Broj sedišta" formControlName="companyStreetNumber">
                    </mat-form-field>
                    <mat-form-field class="almost-full-width">
                        <input type="number" matInput placeholder="Telefon" formControlName="companyPhoneNumber">
                    </mat-form-field>
                    <mat-form-field class="almost-full-width">
                        <input type="email" matInput placeholder="E-mail" formControlName="companyEmail">
                    </mat-form-field>
                </div>
                <div align="center">
                    <button mat-raised-button color="primary" (click)="toStepThree()">Sledeći korak</button>
                </div>
                <div style="margin-top: 30px;" align="center">
                    <button mat-button (click)="goBack()">Nazad</button>
                </div>
            </form>
        </div>


        <form *ngIf="step3" (submit)="logForm(registrationForm)" [formGroup]="registrationForm">
            <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12">
                <mat-form-field class="almost-full-width">
                    <input type="text" matInput placeholder="Ime" `formControlName="companyEmail">
                </mat-form-field>
                <mat-form-field class="almost-full-width">
                    <input type="text" matInput placeholder="Prezime" formControlName="companyEmail">
                </mat-form-field>
                <mat-form-field class="almost-full-width">
                    <input type="text" matInput placeholder="Državljanstvo" formControlName="companyEmail">
                </mat-form-field>
                <mat-form-field class="almost-full-width">
                    <input type="number" matInput placeholder="JMBG" formControlName="companyEmail">
                </mat-form-field>
                <mat-form-field class="almost-full-width">
                    <input type="number" matInput placeholder="Broj pasoša" formControlName="companyEmail">
                </mat-form-field>
                <mat-form-field class="almost-full-width">
                    <input type="text" matInput placeholder="Stručna sprema" formControlName="companyEmail">
                </mat-form-field>
                <mat-checkbox formControlName="companyEmail">U radnom odnosu u drugoj firmi?</mat-checkbox>
                <mat-form-field class="almost-full-width">
                    <mat-select placeholder="Pol" [(value)]="selected" formControlName="companyEmail">
                        <mat-option>None</mat-option>
                        <mat-option value="option1">Option 1</mat-option>
                        <mat-option value="option2">Option 2</mat-option>
                        <mat-option value="option3">Option 3</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="almost-full-width">
                    <input type="text" matInput placeholder="Grad" formControlName="companyEmail">
                </mat-form-field>
                <mat-form-field class="almost-full-width">
                    <input type="text" matInput placeholder="Adresa" formControlName="companyEmail">
                </mat-form-field>
                <mat-form-field class="almost-full-width">
                    <input type="number" matInput placeholder="Broj" formControlName="companyEmail">
                </mat-form-field>
                <mat-form-field class="almost-full-width">
                    <input type="email" matInput placeholder="E-mail" formControlName="companyEmail">
                </mat-form-field>
            </div>
            <div align="center">
                <button mat-raised-button color="primary" (click)="toStepFour()">Sledeći korak</button>
            </div>
            <div style="margin-top: 30px;" align="center">
                <button mat-button (click)="goBack()">Nazad</button>
            </div>
        </form>
    </div>
</div>