<div class="container">
    <div class="row">
        <div class="center animated fadeIn delay-1.1s" *ngIf="step1">

            <div align="center">
                <figure class="logo">
                    <img src="../../assets/images/Transion2_logo.png" class="img-circle img-responsive" height="150px" width="150px" />
                </figure>
                <h2> Registracija </h2>
            </div>

            <hr class="login_type" />

            <form [formGroup]="registrationFormStep1">
                <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12">
                    <mat-form-field>
                        <input type="email" matInput placeholder="E-mail" formControlName="email">
                        <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
                            <ng-container *ngIf="email.errors?.required"> E-mail je neophodan. </ng-container>
                            <ng-container *ngIf="!email.errors?.required && email.errors?.email"> E-mail je pogrešnog formata. </ng-container>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input type="password" matInput placeholder="Lozinka" formControlName="password">
                        <mat-error *ngIf="password.invalid && (password.dirty || password.touched)">
                            <ng-container *ngIf="password.errors?.required"> Lozinka je neophodna. </ng-container>
                            <ng-container *ngIf="password.errors?.pattern"> Lozinka mora sadrzati minimum 7 karaktera. </ng-container>
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input type="password" matInput placeholder="Potvrdite lozinku" formControlName="confirmPassword">
                        <mat-error *ngIf="confirmPassword.dirty || confirmPassword.touched">
                            <ng-container *ngIf="confirmPassword.errors?.required"> Potvrda lozinke je neophodna. </ng-container>
                            <ng-container *ngIf="confirmPassword.errors?.MatchPassword"> Loznike se ne poklapaju. </ng-container>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div align="center">
                    <button (click)="toStepTwo()" mat-raised-button color="primary">Sledeći korak</button>
                </div>
                <div style="margin-top: 30px;" align="center">
                    <button mat-button (click)="goBack()">
                        <i class="fa fa-chevron-left" aria-hidden="true"> Nazad</i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="row" *ngIf="!step1">
        <div class="long-center">
            <div align="center">
                <figure class="logo">
                    <img src="../../assets/images/Transion2_logo.png" class="img-circle img-responsive" height="150px" width="150px" />
                </figure>
                <h2> Registracija </h2>
                <p *ngIf="step2"> Vase lične informacije. </p>
                <p *ngIf="step3"> Informacije o prebivalištu. </p>
            </div>

            <hr class="login_type" />

            <div class="animated fadeIn delay-0.7s" *ngIf="step2">
                <form [formGroup]="registrationFormStep2">
                    <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12">
                        <mat-form-field>
                            <input type="text" matInput placeholder="Ime" formControlName="firstName">
                            <mat-error *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)">
                                <ng-container *ngIf="firstName.errors?.required"> Vase ime je neophodno. </ng-container>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Prezime" formControlName="lastName">
                            <mat-error *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)">
                                <ng-container *ngIf="lastName.errors?.required"> Vase prezime je neophodno. </ng-container>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Ime jednog roditelja" formControlName="parentsName">
                            <mat-error *ngIf="parentsName.invalid && (parentsName.dirty || parentsName.touched)">
                                <ng-container *ngIf="parentsName.errors?.required"> Ime jednog od roditelja je neophodno. </ng-container>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Državljanstvo" formControlName="citizenship">
                            <mat-error *ngIf="citizenship.invalid && (citizenship.dirty || citizenship.touched)">
                                <ng-container *ngIf="citizenship.errors?.required"> Državljanstvo je neophodno. </ng-container>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select placeholder="Pol" formControlName="gender">
                                <mat-option value="Muški">Muški</mat-option>
                                <mat-option value="Ženski">Ženski</mat-option>
                            </mat-select>
                            <mat-error *ngIf="gender.invalid && (gender.dirty || gender.touched)">
                                <ng-container *ngIf="gender.errors?.required"> Pol je neophodan. </ng-container>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select placeholder="Obrazovanje" formControlName="qualifications">
                                <mat-option value="Bez obrazovanja">Bez obrazovanja</mat-option>
                                <mat-option value="Osnovna škola">Osnovna škola</mat-option>
                                <mat-option value="Srednja škola">Srednja škola</mat-option>
                                <mat-option value="Viša škola">Viša škola</mat-option>
                                <mat-option value="Fakultet">Fakultet</mat-option>
                                <mat-option value="Master(Magistar)">Master(Magistar)</mat-option>
                                <mat-option value="Doktor nauka">Doktor nauka</mat-option>
                            </mat-select>
                            <mat-error *ngIf="qualifications.invalid && (qualifications.dirty || qualifications.touched)">
                                <ng-container *ngIf="qualifications.errors?.required"> Obrazovanje je neophodno. </ng-container>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <span class="prefix" matPrefix>+381 &nbsp;</span>
                            <input type="number" matInput placeholder="Broj telefona" formControlName="phoneNumber">
                            <mat-error *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)">
                                <ng-container *ngIf="phoneNumber.errors?.required"> Broj telefona je neophodan. </ng-container>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="number" matInput placeholder="JMBG" formControlName="jmbg">
                            <mat-error *ngIf="jmbg.invalid && (jmbg.dirty || jmbg.touched)">
                                <ng-container *ngIf="jmbg.errors?.required"> Broj telefona je neophodan. </ng-container>
                                <ng-container *ngIf="jmbg.errors?.pattern"> JMBG mora sadrzati tacno 13 cifara. </ng-container>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div align="center">
                        <button (click)="toStepThree()" mat-raised-button color="primary">Sledeći korak</button>
                    </div>
                    <div style="margin-top: 30px;" align="center">
                        <button mat-button (click)="goBack()">
                            <i class="fa fa-chevron-left" aria-hidden="true"> Nazad</i>
                        </button>
                    </div>
                </form>
            </div>

            <div class="animated fadeIn delay-0.7s" *ngIf="step3">
                <form [formGroup]="registrationFormStep3">
                    <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12">
                        <mat-form-field>
                            <input type="text" matInput placeholder="Država" formControlName="country">
                            <mat-error *ngIf="country.invalid && (country.dirty || country.touched)">
                                <ng-container *ngIf="country.errors?.required"> Država je neophodan. </ng-container>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Grad" formControlName="city">
                            <mat-error *ngIf="city.invalid && (city.dirty || city.touched)">
                                <ng-container *ngIf="city.errors?.required"> Grad je neophodan. </ng-container>
                            </mat-error>
                        </mat-form-field>
                        <div class="row">
                            <div class="col col-md-6">
                                <mat-form-field>
                                    <input type="text" matInput placeholder="Ulica" formControlName="streetName">
                                    <mat-error *ngIf="streetName.invalid && (streetName.dirty || streetName.touched)">
                                        <ng-container *ngIf="streetName.errors?.required"> Naziv ulice je neophodan. </ng-container>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col col-md-6">
                                <mat-form-field>
                                    <input type="number" matInput placeholder="Broj ulice" formControlName="streetNumber">
                                    <mat-error *ngIf="streetNumber.invalid && (streetNumber.dirty || streetNumber.touched)">
                                        <ng-container *ngIf="streetNumber.errors?.required"> Broj ulice je neophodan. </ng-container>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-5">
                                <mat-form-field>
                                    <input type="number" matInput placeholder="Poštanski broj" formControlName="zipCode">
                                    <mat-error *ngIf="zipCode.invalid && (zipCode.dirty || zipCode.touched)">
                                        <ng-container *ngIf="zipCode.errors?.required"> Poštanski broj je neophodan. </ng-container>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div align="center">
                        <button (click)="toStepFour()" mat-raised-button color="primary">Sledeći korak</button>
                    </div>
                    <div style="margin-top: 30px;" align="center">
                        <button mat-button (click)="goBack()">
                            <i class="fa fa-chevron-left" aria-hidden="true"> Nazad</i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="animated fadeIn delay-0.7s" *ngIf="step4">
                <form (submit)="confirmRegistration()" [formGroup]="registrationFormStep4">
                    <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12">
                        <mat-form-field>
                            <input type="text" matInput placeholder="Naziv agencije" formControlName="agencyName">
                            <mat-error *ngIf="agencyName.invalid && (agencyName.dirty || agencyName.touched)">
                                <ng-container *ngIf="agencyName.errors?.required"> Naziv agencije je neophodan. </ng-container>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Pun naziv agencije" formControlName="agencyFullName">
                            <mat-error *ngIf="agencyFullName.invalid && (agencyFullName.dirty || agencyFullName.touched)">
                                <ng-container *ngIf="agencyFullName.errors?.required"> Pun naziv agencije je neophodan. </ng-container>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="number" matInput placeholder="PIB" formControlName="agencyPib">
                            <mat-error *ngIf="agencyPib.invalid && (agencyPib.dirty || agencyPib.touched)">
                                <ng-container *ngIf="agencyPib.errors?.required"> PIB je neophodan. </ng-container>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="number" matInput placeholder="Matični broj agencije" formControlName="agencyUniqueKey">
                            <mat-error *ngIf="agencyUniqueKey.invalid && (agencyUniqueKey.dirty || agencyUniqueKey.touched)">
                                <ng-container *ngIf="agencyUniqueKey.errors?.required"> Matični broj agencije je neophodan. </ng-container>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="number" matInput placeholder="Broj žiro računa" formControlName="agencyAccountNumber">
                            <mat-error *ngIf="agencyAccountNumber.invalid && (agencyAccountNumber.dirty || agencyAccountNumber.touched)">
                                <ng-container *ngIf="agencyAccountNumber.errors?.required">Broj žiro računa je neophodan. </ng-container>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Šifra delatnosti sa opisom" formControlName="agencyActivityCodeWithDescription">
                            <mat-error *ngIf="agencyActivityCodeWithDescription.invalid && (agencyActivityCodeWithDescription.dirty || agencyActivityCodeWithDescription.touched)">
                                <ng-container *ngIf="agencyActivityCodeWithDescription.errors?.required">Šifra delatnosti sa opisom je neophodna. </ng-container>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input matInput [matDatepicker]="picker" placeholder="Datum registracije agencije" formControlName="agencyRegistrationDate">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                            <mat-error *ngIf="agencyRegistrationDate.invalid && (agencyRegistrationDate.dirty || agencyRegistrationDate.touched)">
                                <ng-container *ngIf="agencyRegistrationDate.errors?.required">Datum registracije agencije je neophodan. </ng-container>
                            </mat-error>
                        </mat-form-field>
                        <div class="row">
                            <div class="col col-md-6">
                                <mat-form-field>
                                    <input type="text" matInput placeholder="Grad" formControlName="agencyCity">
                                    <mat-error *ngIf="agencyCity.invalid && (agencyCity.dirty || agencyCity.touched)">
                                        <ng-container *ngIf="agencyCity.errors?.required">Grad je neophodna. </ng-container>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col col-md-6">
                                <mat-form-field>
                                    <input type="number" matInput placeholder="Poštanski broj" formControlName="agencyCityZipCode">
                                    <mat-error *ngIf="agencyCityZipCode.invalid && (agencyCityZipCode.dirty || agencyCityZipCode.touched)">
                                        <ng-container *ngIf="agencyCityZipCode.errors?.required">Poštanski broj je neophodna. </ng-container>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-6">
                                <mat-form-field>
                                    <input type="text" matInput placeholder="Ulica sedišta agencije" formControlName="agencyStreetName">
                                    <mat-error *ngIf="agencyStreetName.invalid && (agencyStreetName.dirty || agencyStreetName.touched)">
                                        <ng-container *ngIf="agencyStreetName.errors?.required">Ulica sedišta agencije je neophodna. </ng-container>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col col-md-6">
                                <mat-form-field>
                                    <input type="number" matInput placeholder="Broj ulice sedišta agencije" formControlName="agencyStreetNumber">
                                    <mat-error *ngIf="agencyStreetNumber.invalid && (agencyStreetNumber.dirty || agencyStreetNumber.touched)">
                                        <ng-container *ngIf="agencyStreetNumber.errors?.required">Broj ulice sedišta agencije je neophodna. </ng-container>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-form-field>
                            <span class="prefix" matPrefix>+381 &nbsp;</span>
                            <input type="number" matInput placeholder="Telefon" formControlName="agencyPhoneNumber">
                            <mat-error *ngIf="agencyPhoneNumber.invalid && (agencyPhoneNumber.dirty || agencyPhoneNumber.touched)">
                                <ng-container *ngIf="agencyPhoneNumber.errors?.required">Telefon agencije je neophodan. </ng-container>
                            </mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <input type="email" matInput placeholder="E-mail" formControlName="agencyEmail">
                            <mat-error *ngIf="agencyEmail.invalid && (agencyEmail.dirty || agencyEmail.touched)">
                                <ng-container *ngIf="agencyEmail.errors?.required"> E-mail je neophodan. </ng-container>
                                <ng-container *ngIf="agencyEmail.errors?.email"> E-mail nije validan. </ng-container>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <div align="center">
                        <button type="submit" class="register-button">Potvrdi registraciju</button>
                    </div>
                    <div style="margin-top: 30px;" align="center">
                        <button mat-button (click)="goBack()">
                            <i class="fa fa-chevron-left" aria-hidden="true"> Nazad</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>