<div class="container">
    <div class="row">
        <div class="center animated fadeIn delay-1.1s" *ngIf="step1">

            <div align="center">
                <figure class="logo">
                    <img src="../../assets/images/Transion2_logo.png" class="img-circle img-responsive" height="150px" width="150px" />
                </figure>
                <h2> Registracija </h2>
            </div>

            <hr class="login_type" />

            <form [formGroup]="registrationForm">
                <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12">
                    <mat-form-field>
                        <input type="email" matInput placeholder="E-mail" formControlName="email">
                        <mat-error *ngIf="registrationForm.get('email').hasError('required')">E-mail je neophodan.</mat-error>
                        <mat-error *ngIf="registrationForm.get('email').hasError('email') 
                            && !registrationForm.get('email').hasError('required')">E-mail je pogrešnog formata.</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input type="password" matInput placeholder="Lozinka" formControlName="password">
                        <mat-error *ngIf="registrationForm.get('password').hasError('required')">Lozinka je neophodna.</mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <input type="password" matInput placeholder="Potvrdite lozinku" formControlName="confirmPassword">
                    </mat-form-field>
                </div>
                <div align="center">
                    <button (click)="toStepTwo()" mat-raised-button color="primary">Sledeći korak</button>
                </div>
                <div style="margin-top: 30px;" align="center">
                    <button mat-button (click)="goBack()">
                        <i class="fa fa-chevron-left" aria-hidden="true"> Nazad</i>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="row" *ngIf="!step1">
        <div class="long-center">
            <div align="center">
                <figure class="logo">
                    <img src="../../assets/images/Transion2_logo.png" class="img-circle img-responsive" height="150px" width="150px" />
                </figure>
                <h2> Registracija </h2>
                <p *ngIf="step2"> Vase lične informacije. </p>
                <p *ngIf="step3"> Informacije o prebivalištu. </p>
            </div>

            <hr class="login_type" />

            <div class="animated fadeIn delay-0.7s" *ngIf="step2">
                <form [formGroup]="registrationForm">
                    <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12">
                        <mat-form-field>
                            <input type="text" matInput placeholder="Ime" formControlName="firstName">
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Prezime" formControlName="lastName">
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Ime jednog roditelja" formControlName="parentsName">
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Državljanstvo" formControlName="citizenship">
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select placeholder="Pol" formControlName="gender">
                                <mat-option value="Muški">Muški</mat-option>
                                <mat-option value="Ženski">Ženski</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-select placeholder="Obrazovanje" formControlName="qualifications">
                                <mat-option value="Bez obrazovanja">Bez obrazovanja</mat-option>
                                <mat-option value="Osnovna škola">Osnovna škola</mat-option>
                                <mat-option value="Srednja škola">Srednja škola</mat-option>
                                <mat-option value="Viša škola">Viša škola</mat-option>
                                <mat-option value="Fakultet">Fakultet</mat-option>
                                <mat-option value="Master(Magistar)">Master(Magistar)</mat-option>
                                <mat-option value="Doktor nauka">Doktor nauka</mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-form-field>
                            <span class="prefix" matPrefix>+381 &nbsp;</span>
                            <input type="number" matInput placeholder="Broj telefona" formControlName="phoneNumber">
                        </mat-form-field>
                        <mat-form-field>
                            <input type="number" matInput placeholder="JMBG" formControlName="jmbg" maxlength="13">
                        </mat-form-field>
                    </div>
                    <div align="center">
                        <button (click)="toStepThree()" mat-raised-button color="primary">Sledeći korak</button>
                    </div>
                    <div style="margin-top: 30px;" align="center">
                        <button mat-button (click)="goBack()">
                            <i class="fa fa-chevron-left" aria-hidden="true"> Nazad</i>
                        </button>
                    </div>
                </form>
            </div>

            <div class="animated fadeIn delay-0.7s" *ngIf="step3">
                <form [formGroup]="registrationForm">
                    <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12">
                        <mat-form-field>
                            <input type="text" matInput placeholder="Država" formControlName="country">
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Grad" formControlName="city">
                        </mat-form-field>
                        <div class="row">
                            <div class="col col-md-6">
                                <mat-form-field>
                                    <input type="text" matInput placeholder="Ulica" formControlName="streetName">
                                </mat-form-field>
                            </div>
                            <div class="col col-md-6">
                                <mat-form-field>
                                    <input type="number" matInput placeholder="Broj ulice" formControlName="streetNumber">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-5">
                                <mat-form-field>
                                    <input type="number" matInput placeholder="Poštanski broj" formControlName="zipCode">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                    <div align="center">
                        <button (click)="toStepFour()" mat-raised-button color="primary">Sledeći korak</button>
                    </div>
                    <div style="margin-top: 30px;" align="center">
                        <button mat-button (click)="goBack()">
                            <i class="fa fa-chevron-left" aria-hidden="true"> Nazad</i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="animated fadeIn delay-0.7s" *ngIf="step4">
                <form (submit)="confirmRegistration(registrationForm)" [formGroup]="registrationForm">
                    <div class="col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1 col-xs-12">
                        <mat-form-field>
                            <input type="text" matInput placeholder="Naziv agencije" formControlName="agencyName">
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Pun naziv agencije" formControlName="agencyFullName">
                        </mat-form-field>
                        <mat-form-field>
                            <input type="number" matInput placeholder="PIB" formControlName="agencyPib">
                        </mat-form-field>
                        <mat-form-field>
                            <input type="number" matInput placeholder="Matični broj agencije" formControlName="agencyUniqueKey">
                        </mat-form-field>
                        <mat-form-field>
                            <input type="number" matInput placeholder="Broj žiro računa" formControlName="agencyAccountNumber">
                        </mat-form-field>
                        <mat-form-field>
                            <input type="text" matInput placeholder="Šifra delatnosti sa opisom" formControlName="agencyActivityCodeWithDescription">
                        </mat-form-field>
                        <mat-form-field>
                            <input type="date" matInput placeholder="Datum registracije agencije" formControlName="agencyRegistrationDate">
                        </mat-form-field>
                        <div class="row">
                            <div class="col col-md-6">
                                <mat-form-field>
                                    <input type="text" matInput placeholder="Grad" formControlName="agencyCity">
                                </mat-form-field>
                            </div>
                            <div class="col col-md-6">
                                <mat-form-field>
                                    <input type="number" matInput placeholder="Poštanski broj" formControlName="agencyCityZipCode">
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col col-md-6">
                                <mat-form-field>
                                    <input type="text" matInput placeholder="Ulica sedišta agencije" formControlName="agencyStreetName">
                                </mat-form-field>
                            </div>
                            <div class="col col-md-6">
                                <mat-form-field>
                                    <input type="number" matInput placeholder="Broj ulice sedišta agencije" formControlName="agencyStreetNumber">
                                </mat-form-field>
                            </div>
                        </div>
                        <mat-form-field>
                            <span class="prefix" matPrefix>+381 &nbsp;</span>
                            <input type="number" matInput placeholder="Telefon" formControlName="agencyPhoneNumber">
                        </mat-form-field>
                        <mat-form-field>
                            <input type="email" matInput placeholder="E-mail" formControlName="agencyEmail">
                        </mat-form-field>
                    </div>
                    <div align="center">
                        <button type="submit" class="register-button">Potvrdi registraciju</button>
                    </div>
                    <div style="margin-top: 30px;" align="center">
                        <button mat-button (click)="goBack()">
                            <i class="fa fa-chevron-left" aria-hidden="true"> Nazad</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>