html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 7rem;
    min-height: 100%;
    background-color: whitesmoke;
    /* background: linear-gradient(to bottom right, rgba(173, 216, 230, 0.3), rgba(173, 216, 230, 0.8)); */
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}